body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.btns{
  background-color: rgb(28, 70, 70);
  width: 100px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
}
.toggle{
  padding-top: 10px;
}
.toggle button{
  background-color: rgb(15, 124, 164);
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #fff;
  width: 130px;
  height: 30px;
  
}
.hr hr{
  width: 70%;
  display: flex;
}
.comments{
  display: flex;
  justify-content: center;
  gap: 1em;
  

}
.comment{
  background-color: beige;
  
  padding: 3px 2px 2px 3px;
  border-radius: 5px;
  width: 10em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}
.flex{
  display: flex;
  justify-content: flex-end;
}
.search input{
  height: 30px;
  border: 2px solid green;
}
.icon{
  position: relative;
  padding-left: 10px;
  
  color: green;
  
}
.icon-data{
height: 30px ;
  width: 60px;
}